target/
.settings/
.project
.classpath
.factorypath
node_modules/
gold-auth.log*
bin/
jasmine*.html
nullnull
ehcache.disk.store.dir/
bower_components/
.grunt/
velocity.log
.idea/
*.iml
.DS_Store
.metadata
.bash_profile
overlays/
coverage/
npm-debug.log*
/xwebapp/src/webapp/Rio/js/components/build.js
/xwebapp/src/webapp/image-viewer/
searchalert/SuccessfulSearchAlertsRun.txt
package-lock.json.md5
build_last_id.txt
.factorypath
${sys:logs.dir}